<!DOCTYPE html>
<html xml:lang="en" lang="en">
<head>
    <meta http-equiv="content-type" content="text/html;charset=utf-8"/>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Angular test">
    <!--    <link rel="canonical" href="{{ HOME_URL }}{{ request.get_full_path }}"/>-->
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../static/css/base.css">
    <script src="../static/js/angular-1.7.9.js"></script>
    <title>Angular test</title>
</head>
<body>
<div ng-app="myApp" ng-controller="customersCtrl" class="page-wrapper chiller-theme toggled">
    <main class="page-content">
        <div class="container-fluid ">
            <div ng-include="'header.html'"></div>
            <div ng-include="'home.html'"></div>
            <div ng-include="'footer.html'"></div>
        </div>
    </main>
</div>
</body>
<script src="../static/js/jquery-3.5.1.min.js"></script>
<script src="../static/js/bootstrap.min.js"></script>
<script src="../static/js/base.js"></script>
<script>

</script>
</html>
