<footer class="footer text-center">
    <div class="row sub-footer">
        <div class="col-md-4 text-justify">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu nisl, pellentesque vel rutrum sed,
                cursus et est.
            </p>
        </div>
        <div class="col-md-4 text-justify">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu nisl, pellentesque vel rutrum sed,
                cursus et est.
            </p>
        </div>
        <div class="col-md-4 text-justify">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu nisl, pellentesque vel rutrum sed,
                cursus et est.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col text-justify">
            <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec arcu nisl, pellentesque vel rutrum sed,
                cursus et est. Quisque pulvinar justo sed pharetra varius. Mauris rhoncus libero magna, vel vehicula est
                mattis sed. Quisque a eros viverra, euismod nisl non, rutrum orci. Sed felis mi, pretium at nibh vitae,
                sollicitudin elementum nulla. Donec quis libero enim. Ut nunc nisl, eleifend non tincidunt eget, euismod
                sit amet mi.
            </p>
        </div>
    </div>
</footer>
