<div class="col-12">
    <p class="text-justify">
        Phasellus dictum, justo mollis aliquam tempor, nibh ligula fermentum turpis, quis commodo mauris nibh et metus.
        Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Sed gravida diam
        nec
        vulputate convallis. Nam sagittis lacinia mollis. In hac habitasse platea dictumst. Sed eu tellus id quam
        pellentesque cursus. Phasellus accumsan placerat arcu eget ornare. Morbi sed bibendum lacus. Donec quis mollis
        nulla, et egestas velit.
    </p>
    <br>
    <table>
        <tr ng-repeat="x in names">
            <td>{{ x.id }}</td>
        </tr>
    </table>
</div>
